/*GLOBAL SCOPE*/
* {
  --main-bg-color-light:#b6b2a5;
  --main-bg-color-dark:#081831;
  --main-font-color-light:#fdfdfd;
  --main-font-color-dark:#020202;

  --font-size-mobile: 1rem;
  --font-size-tablet: 1.1rem;
  --font-size-desktop: 1.2rem;
  
  --link-color-hover:;
  --link-color:;

  /*CSS RESET*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*END OF CSS RESET*/
  
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 1600px;
  height: 100vh;
  margin: 0 auto;
}

/*MOBILE PHONES*/
@media only screen and (max-width: 480px) {
  .container {
    font-size: var(--font-size-mobile);
    background-color: var(--main-bg-color-light);
    color: var(--main-font-color-dark)
  }
}

/* TABLETS */
@media only screen and (min-width: 480px) {
  .container {
    font-size: var(--font-size-tablet);
    background-color: var(--main-bg-color-dark);
    color: var(--main-font-color-light)
  }
}

/* LAPTOPS | DESKTOPS */
@media only screen and (min-width: 768px) {
  .container {
    font-size: var(--font-size-desktop);
    background-color: var(--main-bg-color-light);
    color: var(--main-font-color-light)
  }
}
