/*GLOBAL SCOPE*/
* {
  --main-bg-color-light: ;
  --main-bg-color-dark: ;
  --main-font-color-light: ;
  --main-font-color-dark: ;

  --main-font-style: ;
  --secondary-font-style: ;

  --font-size-mobile: 1rem;
  --font-size-tablet: 1.1rem;
  --font-size-desktop: 1.2rem;

  /*CSS RESET*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*END OF CSS RESET*/
}

.container {
  max-width: 1600px;
  height: 100vh;
  margin: 0 auto;
}

/*MOBILE PHONES*/
@media only screen and (max-width: 480px) {
  .container {
    font-size: var(--font-size-mobile);
    background-color: yellow;
  }
}

/* TABLETS */
@media only screen and (min-width: 480px) {
  .container {
    font-size: var(--font-size-tablet);
    background-color: orange;
  }
}

/* LAPTOPS | DESKTOPS */
@media only screen and (min-width: 768px) {
  .container {
    font-size: var(--font-size-desktop);
    background-color: teal;
  }
}
