/*MOBILE PHONES*/
@media only screen and (max-width: 480px) {
    .container {
        font-size: var(--font-size-mobile);
        background-color: var(--main-bg-color-light);
        color: var(--main-font-color-dark)
    }
}

/* TABLETS */
@media only screen and (min-width: 72px) {
    .container {
        font-size: var(--font-size-tablet);
        background-color: var(--main-bg-color-dark);
    }
}

/* LAPTOPS | DESKTOPS */
@media only screen and (min-width: 998px) {
    .container {
        font-size: var(--font-size-desktop);
        background-color: var(--main-bg-color-light);
    }
}





.testimonial-box {
    display: flexbox;
    flex-wrap: wrap;
    background-color: #efefef;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.testimonials {
    background-color: #ffffff;
    width: 100%;
    max-width: 740px;
    margin: 20px;
    box-shadow: 0 6px 5px -7px #cbcbcb;
    border-radius: 3px;
    position: relative;
    opacity: 0;
    animation: showTestimonials 0.3s 0.7s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards;
    justify-content: center;
    margin-left: 25%;
}

.testimonials input {
    display: none;
    visibility: hidden;
    height: 0;
    width: 0;
    pointer-events: none;
    opacity: 0;
    justify-content: center;
}

@keyframes showTestimonials {
    to {
        opacity: 1;
    }
}

.testimonials-inner {
    min-height: 100px;
}

.testimonial {
    padding: 40px 34px 20px 34px;
    margin: 0 30px;
    pointer-events: none;
    position: relative;
    z-index: 1;
}

input[name=testimonial]:nth-child(1):checked~.testimonials-inner .testimonial:nth-child(1),
input[name=testimonial]:nth-child(2):checked~.testimonials-inner .testimonial:nth-child(2),
input[name=testimonial]:nth-child(3):checked~.testimonials-inner .testimonial:nth-child(3),
input[name=testimonial]:nth-child(4):checked~.testimonials-inner .testimonial:nth-child(4),
input[name=testimonial]:nth-child(5):checked~.testimonials-inner .testimonial:nth-child(5),
input[name=testimonial]:nth-child(6):checked~.testimonials-inner .testimonial:nth-child(6),
input[name=testimonial]:nth-child(7):checked~.testimonials-inner .testimonial:nth-child(7),
input[name=testimonial]:nth-child(8):checked~.testimonials-inner .testimonial:nth-child(8),
input[name=testimonial]:nth-child(9):checked~.testimonials-inner .testimonial:nth-child(9),
input[name=testimonial]:nth-child(10):checked~.testimonials-inner .testimonial:nth-child(10),
input[name=testimonial]:nth-child(11):checked~.testimonials-inner .testimonial:nth-child(11),
input[name=testimonial]:nth-child(12):checked~.testimonials-inner .testimonial:nth-child(12),
input[name=testimonial]:nth-child(13):checked~.testimonials-inner .testimonial:nth-child(13) {
    pointer-events: initial;
}

.testimonial {
    transition: 0.72s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.32s 0.12s;
    opacity: 0;
    transform: translate(0, 38px);
    max-height: 80px;
    animation: hideTestimonial 0s 0.52s forwards;
    position: relative;
}

input[name=testimonial]:nth-child(1):checked~.testimonials-inner .testimonial:nth-child(1),
input[name=testimonial]:nth-child(2):checked~.testimonials-inner .testimonial:nth-child(2),
input[name=testimonial]:nth-child(3):checked~.testimonials-inner .testimonial:nth-child(3),
input[name=testimonial]:nth-child(4):checked~.testimonials-inner .testimonial:nth-child(4),
input[name=testimonial]:nth-child(5):checked~.testimonials-inner .testimonial:nth-child(5),
input[name=testimonial]:nth-child(6):checked~.testimonials-inner .testimonial:nth-child(6),
input[name=testimonial]:nth-child(7):checked~.testimonials-inner .testimonial:nth-child(7),
input[name=testimonial]:nth-child(8):checked~.testimonials-inner .testimonial:nth-child(8),
input[name=testimonial]:nth-child(9):checked~.testimonials-inner .testimonial:nth-child(9),
input[name=testimonial]:nth-child(10):checked~.testimonials-inner .testimonial:nth-child(10),
input[name=testimonial]:nth-child(11):checked~.testimonials-inner .testimonial:nth-child(11),
input[name=testimonial]:nth-child(12):checked~.testimonials-inner .testimonial:nth-child(12),
input[name=testimonial]:nth-child(13):checked~.testimonials-inner .testimonial:nth-child(13) {
    animation: showTestimonial 0s 0.72s forwards;
    position: absolute;
    opacity: 1;
    transform: none;
    max-height: 500px;
    transition: 0.3s 0.52s, opacity 0.68s 0.92s, max-height 0.82s 0.72s;
}

@keyframes hideTestimonial {
    to {
        position: absolute;
    }
}

@keyframes showTestimonial {
    to {
        position: relative;
    }
}

input[name=testimonial]:nth-child(1):checked~.testimonials-bullets label:nth-child(1) span,
input[name=testimonial]:nth-child(2):checked~.testimonials-bullets label:nth-child(2) span,
input[name=testimonial]:nth-child(3):checked~.testimonials-bullets label:nth-child(3) span,
input[name=testimonial]:nth-child(4):checked~.testimonials-bullets label:nth-child(4) span,
input[name=testimonial]:nth-child(5):checked~.testimonials-bullets label:nth-child(5) span,
input[name=testimonial]:nth-child(6):checked~.testimonials-bullets label:nth-child(6) span,
input[name=testimonial]:nth-child(7):checked~.testimonials-bullets label:nth-child(7) span,
input[name=testimonial]:nth-child(8):checked~.testimonials-bullets label:nth-child(8) span,
input[name=testimonial]:nth-child(9):checked~.testimonials-bullets label:nth-child(9) span,
input[name=testimonial]:nth-child(10):checked~.testimonials-bullets label:nth-child(10) span,
input[name=testimonial]:nth-child(11):checked~.testimonials-bullets label:nth-child(11) span,
input[name=testimonial]:nth-child(12):checked~.testimonials-bullets label:nth-child(12) span,
input[name=testimonial]:nth-child(13):checked~.testimonials-bullets label:nth-child(13) span {
    background-color: rgba(21, 66, 143, 0.836);
    transform: scale(1);
    transition: transform 0.36s cubic-bezier(0.26, -0.59, 0.43, 2.48), background-color 0.41s ease-in;
}


.testimonial-photo {
    height: 75px;
    width: 75px;
    position: absolute;
    top: -32px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.photo-background {
    background-color: rgb(21, 66, 143, 1);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    height: 100%;
    /*   box-shadow: 0 -4px 3px -2px #c3c2c2; */
    width: 100%;
    transform: scale(0.87);
    transition: 0.32s;
}

input[name=testimonial]:nth-child(1):checked~.testimonials-inner .testimonial:nth-child(1) .photo-background,
input[name=testimonial]:nth-child(2):checked~.testimonials-inner .testimonial:nth-child(2) .photo-background,
input[name=testimonial]:nth-child(3):checked~.testimonials-inner .testimonial:nth-child(3) .photo-background,
input[name=testimonial]:nth-child(4):checked~.testimonials-inner .testimonial:nth-child(4) .photo-background,
input[name=testimonial]:nth-child(5):checked~.testimonials-inner .testimonial:nth-child(5) .photo-background,
input[name=testimonial]:nth-child(6):checked~.testimonials-inner .testimonial:nth-child(6) .photo-background,
input[name=testimonial]:nth-child(7):checked~.testimonials-inner .testimonial:nth-child(7) .photo-background,
input[name=testimonial]:nth-child(8):checked~.testimonials-inner .testimonial:nth-child(8) .photo-background,
input[name=testimonial]:nth-child(9):checked~.testimonials-inner .testimonial:nth-child(9) .photo-background,
input[name=testimonial]:nth-child(10):checked~.testimonials-inner .testimonial:nth-child(10) .photo-background,
input[name=testimonial]:nth-child(11):checked~.testimonials-inner .testimonial:nth-child(11) .photo-background,
input[name=testimonial]:nth-child(12):checked~.testimonials-inner .testimonial:nth-child(12) .photo-background,
input[name=testimonial]:nth-child(13):checked~.testimonials-inner .testimonial:nth-child(13) .photo-background {
    transform: scale(1);
    transition: 0s;
}

.photo-author {
    background-size: 68px;
    background-position: center;
    height: 0;
    width: 0;
    border-radius: 50%;
    background-color: #dbdbdb;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    opacity: 0;
    transform: scale(1.18) translate(0, -6px);
    transition: transform 0.42s ease-out, opacity 0.58s, width 0s 0.6s, height 0s 0.6s;
}

input[name=testimonial]:nth-child(1):checked~.testimonials-inner .testimonial:nth-child(1) .photo-author,
input[name=testimonial]:nth-child(2):checked~.testimonials-inner .testimonial:nth-child(2) .photo-author,
input[name=testimonial]:nth-child(3):checked~.testimonials-inner .testimonial:nth-child(3) .photo-author,
input[name=testimonial]:nth-child(4):checked~.testimonials-inner .testimonial:nth-child(4) .photo-author,
input[name=testimonial]:nth-child(5):checked~.testimonials-inner .testimonial:nth-child(5) .photo-author,
input[name=testimonial]:nth-child(6):checked~.testimonials-inner .testimonial:nth-child(6) .photo-author,
input[name=testimonial]:nth-child(7):checked~.testimonials-inner .testimonial:nth-child(7) .photo-author,
input[name=testimonial]:nth-child(8):checked~.testimonials-inner .testimonial:nth-child(8) .photo-author,
input[name=testimonial]:nth-child(9):checked~.testimonials-inner .testimonial:nth-child(9) .photo-author,
input[name=testimonial]:nth-child(10):checked~.testimonials-inner .testimonial:nth-child(10) .photo-author,
input[name=testimonial]:nth-child(11):checked~.testimonials-inner .testimonial:nth-child(11) .photo-author,
input[name=testimonial]:nth-child(12):checked~.testimonials-inner .testimonial:nth-child(12) .photo-author,
input[name=testimonial]:nth-child(13):checked~.testimonials-inner .testimonial:nth-child(13) .photo-author {
    transform: scale(1);
    opacity: 1;
    height: 68px;
    width: 68px;
    transition: width 0.26s 1.01s, height 0.26s 1.01s;
}

.testimonial-text {
    color: #606060;
    font-size: 20px;
    text-align: center;
    text-shadow: 0 0 1px #939393;
    letter-spacing: 0.12px;
    font-style: italic;
    line-height: 26px;
}

.testimonial-text p {
    margin-bottom: 10px;
}

.testimonial-author {
    font-size: 15px;
    text-align: right;
    color: #bdbdbd;
    letter-spacing: 0.24px;
    text-transform: uppercase;
    text-shadow: 0 0 1px #e3e3e3;
}

.testimonial-author:before {
    content: "– ";
}

.testimonials-bullets {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30px;
    transform: translate(0, 8px);
}

.testimonials-bullets .bullet {
    height: 30px;
    width: 30px;
    cursor: pointer;
    margin: 0 1px;
}

.testimonials-bullets .bullet div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 4px 6px -7px #000000;
}

.testimonials-bullets .bullet div span {
    background-color: #c3c3c3;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    transform: scale(0.82);
    transition: 0.72s;
}

.testimonials-bullets .bullet:hover span {
    background-color: rgb(4, 11, 68)
        /*change this to another goodwill blue later*/
}

.testimonials-arrows {
    height: 100%;
}

.testimonials-arrows .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    position: absolute;
    top: calc(50% - 25px);
}

.testimonials-arrows .arrow span {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #273186;
    /*change this to goodwill blue later*/
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.testimonials-arrows .arrow span:before {
    font-size: 32px;
    font-family: monospace, sans-serif;
    font-weight: 600;
    color: #c3c3c3;
    transition: color 0.21s ease-in;
}

.testimonials-arrows .arrow:hover span:before {
    color: #444444;
    transition: color 0.17s ease-out;
}

.testimonials-arrows .arrow label {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.testimonials-arrows .arrow-left {
    left: -20px;
}

.testimonials-arrows .arrow-left span {
    box-shadow: 40px 0 20px 20px #ffffff, -5px 0 30px 0px #e1e1e1;
}

.testimonials-arrows .arrow-left span:before {
    content: "<";
}

.testimonials-arrows .arrow-right {
    right: -20px;
}

.testimonials-arrows .arrow-right span {
    box-shadow: -40px 0 20px 20px #ffffff, 5px 0 30px 0px #e1e1e1;
}

.testimonials-arrows .arrow-right span:before {
    content: ">";
}

input[name=testimonial]:nth-child(1):checked~.testimonials-arrows .arrow-left label[for=input-testimonial13],
input[name=testimonial]:nth-child(1):checked~.testimonials-arrows .arrow-right label[for=input-testimonial2],
input[name=testimonial]:nth-child(2):checked~.testimonials-arrows .arrow-left label[for=input-testimonial1],
input[name=testimonial]:nth-child(2):checked~.testimonials-arrows .arrow-right label[for=input-testimonial3],
input[name=testimonial]:nth-child(3):checked~.testimonials-arrows .arrow-left label[for=input-testimonial2],
input[name=testimonial]:nth-child(3):checked~.testimonials-arrows .arrow-right label[for=input-testimonial4],
input[name=testimonial]:nth-child(4):checked~.testimonials-arrows .arrow-left label[for=input-testimonial3],
input[name=testimonial]:nth-child(4):checked~.testimonials-arrows .arrow-right label[for=input-testimonial5],
input[name=testimonial]:nth-child(5):checked~.testimonials-arrows .arrow-left label[for=input-testimonial4],
input[name=testimonial]:nth-child(5):checked~.testimonials-arrows .arrow-right label[for=input-testimonial6],
input[name=testimonial]:nth-child(6):checked~.testimonials-arrows .arrow-left label[for=input-testimonial5],
input[name=testimonial]:nth-child(6):checked~.testimonials-arrows .arrow-right label[for=input-testimonial7],
input[name=testimonial]:nth-child(7):checked~.testimonials-arrows .arrow-left label[for=input-testimonial6],
input[name=testimonial]:nth-child(7):checked~.testimonials-arrows .arrow-right label[for=input-testimonial8],
input[name=testimonial]:nth-child(8):checked~.testimonials-arrows .arrow-left label[for=input-testimonial7],
input[name=testimonial]:nth-child(8):checked~.testimonials-arrows .arrow-right label[for=input-testimonial9],
input[name=testimonial]:nth-child(9):checked~.testimonials-arrows .arrow-left label[for=input-testimonial8],
input[name=testimonial]:nth-child(9):checked~.testimonials-arrows .arrow-right label[for=input-testimonial10],
input[name=testimonial]:nth-child(10):checked~.testimonials-arrows .arrow-left label[for=input-testimonial9],
input[name=testimonial]:nth-child(10):checked~.testimonials-arrows .arrow-right label[for=input-testimonial11],
input[name=testimonial]:nth-child(11):checked~.testimonials-arrows .arrow-left label[for=input-testimonial10],
input[name=testimonial]:nth-child(11):checked~.testimonials-arrows .arrow-right label[for=input-testimonial12],
input[name=testimonial]:nth-child(12):checked~.testimonials-arrows .arrow-left label[for=input-testimonial11],
input[name=testimonial]:nth-child(12):checked~.testimonials-arrows .arrow-right label[for=input-testimonial13],
input[name=testimonial]:nth-child(13):checked~.testimonials-arrows .arrow-left label[for=input-testimonial12],
input[name=testimonial]:nth-child(13):checked~.testimonials-arrows .arrow-right label[for=input-testimonial1] {
    z-index: 1;
}


/* Ben testimonal headshot */
.testimonial:nth-child(1) .photo-author {
    background-image: url(https://cdn.glitch.global/e7b75faa-49ef-4907-b61e-8545fdf9df22/Ben_headshot.jpg?v=1691015090129);

}

/* Jennifer testimonial headshot */
.testimonial:nth-child(2) .photo-author {
    background-image: url(https://cdn.glitch.global/e7b75faa-49ef-4907-b61e-8545fdf9df22/Jennifer_headshot.jpg?v=1691175940815);
}

/* Paolo testimonal headshot */
.testimonial:nth-child(3) .photo-author {
    background-image: url(https://cdn.glitch.global/e7b75faa-49ef-4907-b61e-8545fdf9df22/Paolo_headshot.jpg?v=1691015087418);
}

/* Elhadi testimonial headshot */
.testimonial:nth-child(4) .photo-author {
    background-image: url(https://cdn.glitch.global/e7b75faa-49ef-4907-b61e-8545fdf9df22/Elhadi_headshot.jpg?v=1691015309178);

}

/* Anna He testimonial headshot */
.testimonial:nth-child(5) .photo-author {
    background-image: url(https://cdn.glitch.me/e4aed07d-daae-44f6-a20a-6b12b15c5563/Anna.jpg?v=1691217815547_ANNA_HEADSHOT);
}

/* Ashley Sese testimonial headshot */
.testimonial:nth-child(6) .photo-author {
    background-image: url(https://cdn.glitch.global/e4aed07d-daae-44f6-a20a-6b12b15c5563/Ashley.jpg?v=1691217846634ASHLEY_HEADSHOT);
}

/* Aman Minapara testimonial headshot */
.testimonial:nth-child(7) .photo-author {
    background-image: url(https://cdn.glitch.global/e4aed07d-daae-44f6-a20a-6b12b15c5563/Aman.jpg?v=1691217801787MAN_HEADSHOT);
}

/* Faizan Shaikh testimonial headshot */
.testimonial:nth-child(8) .photo-author {
    background-image: url(https://cdn.glitch.global/e4aed07d-daae-44f6-a20a-6b12b15c5563/Faizan.jpg?v=1691217876892ZAN_HEADSHOT);
}

/* Nikolajs Adams testimonial headshot */
.testimonial:nth-child(9) .photo-author {
    background-image: url(https://cdn.glitch.me/e4aed07d-daae-44f6-a20a-6b12b15c5563/Nicholas.jpg?v=1691217898160KOLASJ_HEADSHOT);
}

/* Natnael Metaferia testimonial headshot */
.testimonial:nth-child(10) .photo-author {
    background-image: url(https://cdn.glitch.me/e4aed07d-daae-44f6-a20a-6b12b15c5563/Nate.jpg?v=1691217887252L_HEADSHOT);
}

/* Elias Ramirez testimonial headshot */
.testimonial:nth-child(11) .photo-author {
    background-image: url(https://cdn.glitch.me/e4aed07d-daae-44f6-a20a-6b12b15c5563/Elias.jpg?v=1691217865381S_HEADSHOT);
}

/* Kevin (Wen Hao) Li testimonial headshot */
.testimonial:nth-child(12) .photo-author {
    background-image: url(https://cdn.glitch.me/e4aed07d-daae-44f6-a20a-6b12b15c5563/Ken.jpg?v=1691217910322EVIN_HEADSHOT);
}

/* Abishek testimonial headshot */
.testimonial:nth-child(13) .photo-author {
    background-image: url(https://cdn.glitch.me/e4aed07d-daae-44f6-a20a-6b12b15c5563/Abishek.jpg?v=1691217759346);
}
